h1,
h2 {
  font-weight: 600;
  color: #1f4068;
}

h1 {
  margin: -6px 0 14px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 37px;
}

h2 {
  float: right;
  font-size: 65px;
  margin: -50px 86px;
}

p {
  text-align: center;
  font-size: 10px;
  margin: 16px 0 0 0;
  text-transform: none;
}

button {
  display: block;
  border: 1px solid rgb(198, 209, 207);
  border-radius: 5px;
  padding: 5px 6px;
  background-color: transparent;
  margin: -53px 272px 17px;
  transition: all 200ms ease-in-out;
}

button:hover {
  border: 1px solid #086972;
  box-shadow: 10px 10px 50px #fde6b3;
  cursor: pointer;
}

.container {
  display: block;
  margin: 12px auto 13px;
  max-width: 700px;
  height: 600px;
  background-image: linear-gradient(to top, #fde6b3 0%, #d1fdff 100%);
  border: 1px solid #086972;
  border-radius: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

.appName {
  float: right;
  font-size: 11px;
  color: #1f4068;
}

.present {
  margin-left: 35px;
  font-size: 17px;
}

.presentDate {
  font-size: 12px;
  position: relative;
  right: -16px;
}

.degrees {
  float: right;
  margin: -43px 60px;
  color: #f87808;
  transition: all 200ms ease-in-out;
}

.units .active {
  color: black;
}

.degrees:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.fahrenheit {
  float: right;
  margin: -43px 30px;
  color: #f87808;
  transition: all 200ms ease-in-out;
}

.fahrenheit:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.bar {
  float: right;
  margin: -44px 50px;
}

.dayTemperature {
  float: right;
  clear: right;
  margin-top: -20px;
}

.dayMaxTemperature {
  font-size: 22px;
  font-weight: 700;
  color: #f87808;
}

.dayMinTemperature {
  font-size: 20px;
  color: #1f4068;
}

.dayInfo {
  list-style: none;
  font-size: 13px;
  line-height: 2;
  padding-left: 55px;
  margin-top: 3px;
  margin-bottom: 30px;
  text-transform: none;
}

.emojiInfo {
  margin-right: 7px;
}

.weatherDescription {
  float: right;
  margin: 35px 15px;
  font-size: 12px;
}

.bigWeatherSymbol {
  width: 60px;
  height: 38px;
}

.bigWeatherSymbol img {
  position: relative;
  top: -210px;
  right: -275px;
  height: 170px;
}

.card {
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.card:hover {
  border: 1px solid #086972;
  box-shadow: 9px 9px 86px #d1fdff;
  cursor: default;
}

.card-body {
  padding: 15px;
}

.weatherSymbols img {
  width: 56px;
  height: 56px;
}

.maxTemperature {
  font-size: 14px;
  font-weight: 700;
  color: #f87808;
}

.minTemperature {
  color: #1f4068;
}
